body{
    background-color: black;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 1.5em;
    
}

*{
    padding: 0;
    margin: 0;
}

footer{
    background-color: rgba(102, 95, 95, 0.356);
    margin: 20px 0px 5px 0px;
    border-radius: 10px;
    padding: 20px 0px 20px 0px;
    color: rgba(255, 235, 205, 0.26);
    text-indent: 20px;
}

footer p{
    font-size: 0.6em;
}